body {
    background: beige;
}

main {
    width: 1200px;
    text-align: center;
    height: 350px;
    margin: auto;
}

div {
    user-select: none;
}

#turn {
    font-size: 30px;
}

#state{
    width: min-content;
    margin: auto;
    display: grid;
}

#state > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 60px;
    box-sizing: content-box;
    outline: 1px solid grey;
}

#state > .life:hover {
    opacity: 80%;
}

#controls{
    margin: auto; 
    width: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid gray;
    font-size: 18px;
}

#controls > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid gray;
    background: lightblue;
    cursor: pointer;
}

#controls > div:hover {
    font-weight: bold;
}

.binary .life { 
    background-color: black;
    color: transparent;
}
.binary .life-0 { 
    background-color: white;
    color: transparent;
}

.color .life-9 { background-color: #57bb8a; }
.color .life-8 { background-color: #57bb8a; }
.color .life-7 { background-color: #84bb7b; }
.color .life-6 { background-color: #b0be6e; }
.color .life-5 { background-color: #e2c965; }
.color .life-4 { background-color: #e9b861; }
.color .life-3 { background-color: #e9a268; }
.color .life-2 { background-color: #e2886c; }
.color .life-1 { background-color: #e0816d; }
.color .life-0 { background-color: #d3d3d3; }

#input-catalog select {
    width: 270px;
    font-size: 18px;
}