body {
    background: beige;
}

main {
    width: 1200px;
    text-align: center;
    height: 350px;
    margin: auto;
}

div {
    user-select: none;
}

#turn {
    font-size: 30px;
}

#state{
    width: min-content;
    margin: auto;
    display: grid;
}

#state > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 60px;
    box-sizing: content-box;
    outline: 1px solid grey;
}

#state > .life:hover {
    opacity: 80%;
}

#state.width-1 {     grid-template-columns: 1fr; }
#state.width-2 {     grid-template-columns: 1fr 1fr; }
#state.width-3 {     grid-template-columns: 1fr 1fr 1fr; }
#state.width-4 {     grid-template-columns: 1fr 1fr 1fr 1fr; }
#state.width-5 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
#state.width-6 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-7 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-8 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-9 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-10 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-11 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr }
#state.width-12 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-13 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-14 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-15 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-16 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
#state.width-17 {     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

#controls{
    margin: auto; 
    width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid gray;
}

#controls > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid gray;
    background: lightblue;
    cursor: pointer;
}

#controls > div:hover {
    font-weight: bold;
}

.life-9 { background-color: #57bb8a; }
.life-8 { background-color: #57bb8a; }
.life-7 { background-color: #84bb7b; }
.life-6 { background-color: #b0be6e; }
.life-5 { background-color: #e2c965; }
.life-4 { background-color: #e9b861; }
.life-3 { background-color: #e9a268; }
.life-2 { background-color: #e2886c; }
.life-1 { background-color: #e0816d; }
.life-0 { background-color: #d3d3d3; }

#input-catalog select {
    width: 180px;
}