body {
    background: beige;
}

main {
    width: 500px;
    text-align: center;
    height: 350px;
    margin: auto;
}

div {
    user-select: none;
}

#turn {
    font-size: 30px;
}

#state{
    margin: auto;
    width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid gray;
}

#state > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 60px;
    box-sizing: border-box;
    border: 1px solid gray;
}

#state > .life:hover {
    opacity: 80%;
}

#controls{
    margin: auto; 
    width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid gray;
}

#controls > div
{
    text-align: center;
    height: 60px;
    line-height: 60px;;
    width: 90px;
    box-sizing: border-box;
    border: 1px solid gray;
    background: lightblue;
    cursor: pointer;
}

#controls > div:hover {
    font-weight: bold;
}

.life-0 {
    background-color: lightgray;
}

.life-1 {
    background-color: lightcyan;
}

.life-2 {
    background-color: lightblue;
}

.life-3 {
    background-color: aqua;
}

.life-4 {
    background-color: aquamarine;
}


.life-5 {
    background-color: mediumaquamarine;
}

.life-6,
.life-7,
.life-8,
.life-9 {
    background-color: cadetblue;
}