#state {
    width: min-content;
    margin: auto;
    display: grid;

    > .cell {
        text-align: center;
        height: 60px;
        line-height: 60px;;
        width: 60px;
        box-sizing: content-box;
        outline: 1px solid grey;
    }

    > .cell:hover {
        opacity: 80%;
    }
}

#state.binary {
    > .cell {
        background-color: black;
        color: transparent;
    }

    > .life-0 {
        background-color: white;
        color: transparent;
    }
}

#state.color {
    > .life-9 { background-color: #57bb8a; }
    > .life-8 { background-color: #57bb8a; }
    > .life-7 { background-color: #84bb7b; }
    > .life-6 { background-color: #b0be6e; }
    > .life-5 { background-color: #e2c965; }
    > .life-4 { background-color: #e9b861; }
    > .life-3 { background-color: #e9a268; }
    > .life-2 { background-color: #e2886c; }
    > .life-1 { background-color: #e0816d; }
    > .life-0 { background-color: #d3d3d3; }
}